gunicorn==19.6.0
numpy==1.12.0
pandas==0.19.2
psycopg2==2.6.2
pyTelegramBotAPI==2.3.0
python-dateutil==2.6.0
python-google-places==1.4.0
pytz==2016.10
requests==2.12.5
six==1.10.0
SQLAlchemy==1.1.5
Flask==0.12
Jinja2==2.9.5
MarkupSafe==1.0
Werkzeug==0.12.1
click==6.7
itsdangerous==0.24
